#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Demonic Pact Classic configuration
########################################
#
#    DemonicPactClassic.Enable
#        Description: Enable Demonic Pact Classic
#                     Please note that like all AzerothCore modules, database changes cannot be undone through config settings.
#                     This means that world changes like updating internal cooldown of Demonic Pact will remain in place.
#                     You may use the provided undo script (in optional/) to restore the ICD of Demonic Pact
#                     Disabling the module will disable loading the spell script
#        Default:     0 - Disabled
#                     1 - Enabled
#

DemonicPactClassic.Enable = 1
